html, body {
  font-family: 'Open Sans', serif;
  background: #F0F2F4;
}
.img {
  margin-bottom: 3rem;
}
.footer{
  margin-top: 3rem;
}
.h1{
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.topnav{
  display: block;
}
.topnav a {
  margin-bottom: 2rem;
}
