.topnav
{
  color: transparent;
background-color : blue;
text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
-webkit-background-clip : text;
}



h1
{
background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
text-shadow: 5px -5px black, 4px -4px white;
font-weight: bold;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text }



p {
                font-weight: 600;
                font-size: 30px;
                font-family: "Microsoft YaHei";
                color: #8c888b;
                background: -webkit-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
                -moz-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
                -ms-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
                color: transparent;
                
                -webkit-background-clip: text;
              
                animation: ran 10s linear infinite;
             
            }

            @keyframes ran {
                from {
                    backgroud-position: 0 0;
                }
                to {
                    background-position: 2000px 0;
                }
            }

body {
background: #e6f3ff
  rgb(230, 243, 255)
  hsl(209, 100%, 95%);
text-align: center;
font-family: Helvetica;
font-size:24px;
}


footer {
position: fixed;
bottom: 0;  
padding: 1%;
font-size:12px;
}






.topnav a:hover {
  color:#b3fff0
    rgb(179, 255, 240)
hsl(168, 100%, 85%);
}
